body {
  background-color: rgb(31, 29, 167);
}

/* header styling */
#sackington-header {
  display: flex;
  justify-content: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 45px;
  color: #fefefe;
  margin-top: 40px;
  margin-bottom: 20px;
}

#sackington-header:hover {
  color: goldenrod;
}

/* map styling */
#map {
  display: flex;
  justify-content: center;
}

/* nav styling */
a {
  font-size: 15px;
  color: rgb(250, 250, 250);
  font-family: "Montserrat Alternates", sans-serif;
}

a:hover {
  color: goldenrod;
}

h2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}
